
body{
    margin: 0;
    background-color: bisque;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;
}


form {
    background-color: white;
    width:90%;
    max-width:300px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    from {
        transform: translate(0px, 100px);
        opacity: 0;
    }
    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}


label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid black;
}

button{
    background-color:black;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function: linear;
    display: block;
    margin: 0 auto;
}

button{
    transition: all 0.5s ease;
}

button:hover{
    color: yellow;
    transform: scale(1.1);
}



